In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

In [2]:
df = pd.read_csv('heart_desease.csv')
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No
2,No,26.58,Yes,No,No,20,30,No,Male,65-69,White,Yes,Yes,Fair,8,Yes,No,No
3,No,24.21,No,No,No,0,0,No,Female,75-79,White,No,No,Good,6,No,No,Yes
4,No,23.71,No,No,No,28,0,Yes,Female,40-44,White,No,Yes,Very good,8,No,No,No

In [3]:
df_cat = df[["HeartDisease", "Smoking", "AlcoholDrinking", "DiffWalking", "Sex", "Race", "Diabetic", "PhysicalActivity", "GenHealth","Asthma", "KidneyDisease", "SkinCancer"]]
df_num = df[['BMI', 'PhysicalHealth', 'MentalHealth', 'SleepTime']]
df_cat

,HeartDisease,Smoking,AlcoholDrinking,DiffWalking,Sex,Race,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer
0,No,Yes,No,No,Female,White,Yes,Yes,Very good,Yes,No,Yes
1,No,No,No,No,Female,White,No,Yes,Very good,No,No,No
2,No,Yes,No,No,Male,White,Yes,Yes,Fair,Yes,No,No
3,No,No,No,No,Female,White,No,No,Good,No,No,Yes
4,No,No,No,Yes,Female,White,No,Yes,Very good,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
319790,Yes,Yes,No,Yes,Male,Hispanic,Yes,No,Fair,Yes,No,No
319791,No,Yes,No,No,Male,Hispanic,No,Yes,Very good,Yes,No,No
319792,No,No,No,No,Female,Hispanic,No,Yes,Good,No,No,No
319793,No,No,No,No,Female,Hispanic,No,No,Good,No,No,No
319794,No,No,No,No,Female,Hispanic,No,Yes,Good,No,No,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  int64
 6   MentalHealth      319795 non-null  int64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  int64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 43.9+ MB

In [5]:
df.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

In [6]:
from sklearn.preprocessing import LabelEncoder
for i in df_cat.columns:
    le=LabelEncoder()
    label=le.fit_transform(df_cat[i])
    df_cat[i]=label
df_cat.head()

,HeartDisease,Smoking,AlcoholDrinking,DiffWalking,Sex,Race,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer
0,0,1,0,0,0,5,2,1,4,1,0,1
1,0,0,0,0,0,5,0,1,4,0,0,0
2,0,1,0,0,1,5,2,1,1,1,0,0
3,0,0,0,0,0,5,0,0,2,0,0,1
4,0,0,0,1,0,5,0,1,4,0,0,0

In [7]:
data = pd.concat([df_cat, df_num], axis = 1)
data

,HeartDisease,Smoking,AlcoholDrinking,DiffWalking,Sex,Race,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer,BMI,PhysicalHealth,MentalHealth,SleepTime
0,0,1,0,0,0,5,2,1,4,1,0,1,16.60,3,30,5
1,0,0,0,0,0,5,0,1,4,0,0,0,20.34,0,0,7
2,0,1,0,0,1,5,2,1,1,1,0,0,26.58,20,30,8
3,0,0,0,0,0,5,0,0,2,0,0,1,24.21,0,0,6
4,0,0,0,1,0,5,0,1,4,0,0,0,23.71,28,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,1,0,1,1,3,2,0,1,1,0,0,27.41,7,0,6
319791,0,1,0,0,1,3,0,1,4,1,0,0,29.84,0,0,5
319792,0,0,0,0,0,3,0,1,2,0,0,0,24.24,0,0,6
319793,0,0,0,0,0,3,0,0,2,0,0,0,32.81,0,0,12
319794,0,0,0,0,0,3,0,1,2,0,0,0,46.56,0,0,8

In [8]:
data.corr()

,HeartDisease,Smoking,AlcoholDrinking,DiffWalking,Sex,Race,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer,BMI,PhysicalHealth,MentalHealth,SleepTime
HeartDisease,1.000000,0.107764,-0.032080,0.201258,0.070040,0.034854,0.168553,-0.100030,-0.011062,0.041444,0.145197,0.093317,0.051803,0.170721,0.028591,0.008327
Smoking,0.107764,1.000000,0.111768,0.120074,0.085052,0.065499,0.053847,-0.097174,0.020625,0.024149,0.034920,0.033977,0.023118,0.115352,0.085157,-0.030336
AlcoholDrinking,-0.032080,0.111768,1.000000,-0.035328,0.004200,0.036702,-0.057372,0.017487,0.001629,-0.002202,-0.028280,-0.005702,-0.038816,-0.017254,0.051282,-0.005065
DiffWalking,0.201258,0.120074,-0.035328,1.000000,-0.068860,-0.015831,0.205502,-0.278524,-0.043552,0.103222,0.153064,0.064840,0.181678,0.428373,0.152235,-0.022216
Sex,0.070040,0.085052,0.004200,-0.068860,1.000000,0.018855,-0.013456,0.048247,-0.010283,-0.069191,-0.009084,0.013434,0.026940,-0.040904,-0.100058,-0.015704
Race,0.034854,0.065499,0.036702,-0.015831,0.018855,1.000000,-0.052216,0.056767,0.050344,-0.017975,0.003709,0.134780,-0.037424,-0.000847,-0.014491,0.035889
Diabetic,0.168553,0.053847,-0.057372,0.205502,-0.013456,-0.052216,1.000000,-0.133824,-0.010854,0.049827,0.142917,0.032523,0.202472,0.151361,0.032945,0.000449
PhysicalActivity,-0.100030,-0.097174,0.017487,-0.278524,0.048247,0.056767,-0.133824,1.000000,0.024418,-0.041526,-0.081827,-0.001328,-0.150616,-0.232283,-0.095808,0.003849
GenHealth,-0.011062,0.020625,0.001629,-0.043552,-0.010283,0.050344,-0.010854,0.024418,1.000000,0.007280,-0.010580,0.018982,0.035932,-0.035703,-0.004412,-0.004163
Asthma,0.041444,0.024149,-0.002202,0.103222,-0.069191,-0.017975,0.049827,-0.041526,0.007280,1.000000,0.039707,-0.000396,0.092345,0.117907,0.114008,-0.048245
KidneyDisease,0.145197,0.034920,-0.028280,0.153064,-0.009084,0.003709,0.142917,-0.081827,-0.010580,0.039707,1.000000,0.061816,0.050768,0.142197,0.037281,0.006238
SkinCancer,0.093317,0.033977,-0.005702,0.064840,0.013434,0.134780,0.032523,-0.001328,0.018982,-0.000396,0.061816,1.000000,-0.033644,0.041700,-0.033412,0.041266
BMI,0.051803,0.023118,-0.038816,0.181678,0.026940,-0.037424,0.202472,-0.150616,0.035932,0.092345,0.050768,-0.033644,1.000000,0.109788,0.064131,-0.051822
PhysicalHealth,0.170721,0.115352,-0.017254,0.428373,-0.040904,-0.000847,0.151361,-0.232283,-0.035703,0.117907,0.142197,0.041700,0.109788,1.000000,0.287987,-0.061387
MentalHealth,0.028591,0.085157,0.051282,0.152235,-0.100058,-0.014491,0.032945,-0.095808,-0.004412,0.114008,0.037281,-0.033412,0.064131,0.287987,1.000000,-0.119717
SleepTime,0.008327,-0.030336,-0.005065,-0.022216,-0.015704,0.035889,0.000449,0.003849,-0.004163,-0.048245,0.006238,0.041266,-0.051822,-0.061387,-0.119717,1.000000

In [9]:
data.drop(["BMI", "Race"], axis=1,  inplace =True)

In [10]:
data

,HeartDisease,Smoking,AlcoholDrinking,DiffWalking,Sex,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer,PhysicalHealth,MentalHealth,SleepTime
0,0,1,0,0,0,2,1,4,1,0,1,3,30,5
1,0,0,0,0,0,0,1,4,0,0,0,0,0,7
2,0,1,0,0,1,2,1,1,1,0,0,20,30,8
3,0,0,0,0,0,0,0,2,0,0,1,0,0,6
4,0,0,0,1,0,0,1,4,0,0,0,28,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,1,0,1,1,2,0,1,1,0,0,7,0,6
319791,0,1,0,0,1,0,1,4,1,0,0,0,0,5
319792,0,0,0,0,0,0,1,2,0,0,0,0,0,6
319793,0,0,0,0,0,0,0,2,0,0,0,0,0,12
319794,0,0,0,0,0,0,1,2,0,0,0,0,0,8

In [11]:
x = data.drop('HeartDisease', axis=1)
y = data.HeartDisease
x

,Smoking,AlcoholDrinking,DiffWalking,Sex,Diabetic,PhysicalActivity,GenHealth,Asthma,KidneyDisease,SkinCancer,PhysicalHealth,MentalHealth,SleepTime
0,1,0,0,0,2,1,4,1,0,1,3,30,5
1,0,0,0,0,0,1,4,0,0,0,0,0,7
2,1,0,0,1,2,1,1,1,0,0,20,30,8
3,0,0,0,0,0,0,2,0,0,1,0,0,6
4,0,0,1,0,0,1,4,0,0,0,28,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,0,1,1,2,0,1,1,0,0,7,0,6
319791,1,0,0,1,0,1,4,1,0,0,0,0,5
319792,0,0,0,0,0,1,2,0,0,0,0,0,6
319793,0,0,0,0,0,0,2,0,0,0,0,0,12
319794,0,0,0,0,0,1,2,0,0,0,0,0,8

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [14]:
pipeline_log_reg=Pipeline([('log_reg',LogisticRegression(random_state=42))])
pipeline_svc= Pipeline([('svc',LinearSVC(random_state=42))])
pipeline_Decison_Tree_Classifier= Pipeline([('Dt_classifier', DecisionTreeClassifier(random_state=42))])
pipeline_RFC= Pipeline([('RFC', RandomForestClassifier(random_state=42))])


pipelines = [pipeline_log_reg, pipeline_svc, pipeline_Decison_Tree_Classifier, pipeline_RFC]
pipe_dict = {0: "Logistic Regression", 1 : "SVC", 2 : "DTC", 3: "RFC"}

In [15]:
# pipeline_log_reg.fit(x_train,y_train)

# log_reg_pred =  pipeline_log_reg.predict(x_test)
# pipeline_log_reg.score(x_test, y_test)

In [16]:
len(x_train)

223856

In [17]:
len(y_train)

223856

In [18]:
# pipeline_svc.fit(x_train,y_train)

# svc_pred =  pipeline_svc.predict(x_test)
# print(svc_pred)
# pipeline_svc.score(x_test, y_test)

In [19]:
for pipes in pipelines:
    pipes.fit(x_train, y_train)

In [20]:

for i, model in enumerate(pipelines):
    cv_score = cross_val_score(model,x_train, y_train, cv=4)
    print(cv_score)
    print("%s: %f" %(pipe_dict[i], cv_score.mean()) )

[0.91496319 0.9138732  0.91442713 0.91442713]
Logistic Regression: 0.914423
[0.88539061 0.91462369 0.9147309  0.91476664]
SVC: 0.907378
[0.89471803 0.89359231 0.89268101 0.89386034]
DTC: 0.893713
[0.90677936 0.90529626 0.90531413 0.90463512]
RFC: 0.905506

In [21]:
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, log_reg_pred)
# cm

In [22]:
# import seaborn as sn
# plt.figure(figsize = (7,7))
# sn.heatmap(cm, annot=True)
# plt.xlabel('Predicted')
# plt.ylabel('Truth')

In [25]:
print("Training Accuracy of log_reg :", pipeline_log_reg.score(x_train, y_train))
print("Testing Accuracy log_reg:", pipeline_log_reg.score(x_test, y_test))

Training Accuracy of log_reg : 0.9144628689872061
Testing Accuracy log_reg: 0.9129863767602331

In [26]:
print("Training Accuracy of svc:", pipeline_svc.score(x_train, y_train))
print("Testing Accuracy of svc :", pipeline_svc.score(x_test, y_test))

Training Accuracy of svc: 0.9147577013794582
Testing Accuracy of svc : 0.9136117741481566

In [27]:
print("Training Accuracy of dtr:", pipeline_Decison_Tree_Classifier.score(x_train, y_train))
print("Testing Accuracy of dtr :", pipeline_Decison_Tree_Classifier.score(x_test, y_test))

Training Accuracy of dtr: 0.9486232220713315
Testing Accuracy of dtr : 0.8930049302160747

In [28]:
print("Training Accuracy of RFC:",pipeline_RFC.score(x_train, y_train))
print("Testing Accuracy of RFC :",pipeline_RFC.score(x_test, y_test))

Training Accuracy of RFC: 0.9485964191265813
Testing Accuracy of RFC : 0.9036679556801718